doctype html

//- 設定網頁 :)

//-
  siteName: 站台名稱
  default: 'Hello, World!'
- const siteName = 'Hello, World!'

//-
  siteName: 站台 URL
  default: ''
- const siteURL = ''

//-
  siteLogo: 站台 Logo 呈現方式
  default: '<a class='text-primary' href='${siteURL}'>${siteName}</a>'
  desc: 建議別動。
- const siteLogo = `<a class='text-primary' href='${siteURL}'>${siteName}</a>`

//-
  pageName: 頁面標題
  default: '收支表'
- const pageName = '收支表'

//-
  pageDesc: 頁面描述
  default: '這是 ${siteName} 的 ${pageName}'
- const pageDesc = `這是 ${siteName} 的 ${pageName}`

//- API 請到 src/moneyAPI.js 設定。


html(lang='zh')
  head
    title= `${pageName} | ${siteName}`
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='title' content=`${pageName} | ${siteName}`)
    meta(name='description' content=pageDesc)
    link(rel='icon' type='image/x-icon' href='https://cls.iwebs.tw/vendor/favicon/favicon.ico')
    link(rel='shortcut icon' type='image/x-icon' href='https://cls.iwebs.tw/vendor/favicon/favicon.ico')

  body(data-spy="scroll" data-target=".site-navbar-target" data-offset="300")
    include nav.pug
    +nav(siteLogo)

    .site-section-cover.overlay.inner-page.bg-light#moneyPageSection(data-aos="fade")
      .container
        .row.align-items-center.justify-content-center.text-center
          .col-lg-10.box-shadow-content
            .block-heading-1
              h1.mb-4(data-aos="fade-up" data-aos-delay="100")= pageName
              span.d-block.mb-3.text-white(data-aos="fade-up")= pageDesc
    
    section.site-section#table
      .container
        .row
          .col
            h2= pageName

            .table-responsive
              table.table.table-hover.table-striped.table-hover
                thead.thead-dark
                  tr
                    th(scope="col" width="5%") #No. 
                    th(scope="col" width="15%") 名稱
                    th(scope="col" width="20%") 描述
                    th(scope="col" width="10%") 類型
                    th(scope="col" width="10%") 金額
                    th(scope="col" width="10%") 日期
                    th(scope="col" width="20%") 操作
                //- 未來會插入東西至此處。（money.bundle.js）
                tbody#infoTable(style='color: white')
                  tr(style='color: black')
                    td(scope="col" width="5%") 
                    td(scope="col" width="15%") 剩餘金額
                    td(scope="col" width="20%")
                    td(scope="col" width="10%")
                    td#remainAmount(scope="col" width="10%")
                    td(scope="col" width="10%")
                    td(scope="col" width="20%")
                      a.btn.btn-outline-warning.btn-sm#addEntry 新增項目
    hr/

    footer.site-footer
      .container
        .row.pt-2.mt-2.text-center
          .col
            .border-top.pt-2
              //
                Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

                We're very sorry: I am the new maintainer of this page, but the former one has removed
                that link. If someone can give us the original template URL, we'll re-add it
                as soon as possible.

                And we've modified it a lot.
              p COPYRIGHT &copy; #{new Date().getFullYear()} 
                |  #[a(href='https://iwebs.tw' target='_blank') 小魷魚，小確幸。] ALL RIGHTS RESERVED.
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
